body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 40px;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.Logo{
    color: #823737;
    font-weight: 600;
    cursor: pointer;
}

.Logo:hover{
    color: orange;
    transform: scale(1.3);
}

.nav-bar{
    transition: all 0.3 ease;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-bar.active{
    display: block;
    width: 100%;
}

.nav-bar.active ul{
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.nav-bar li a{
    text-decoration: none;
    color: #333;
    font-weight: 300;
    transition: color 0.3s;
}

.nav-bar li a:hover{
    color: orange;
}

.sch-bar{
    display: flex;
    align-items: center;
}

.sch-bar input{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
   
}

.sch-bar button{
    padding: 8px 12px;
    border: 1px solid orange;
    border-radius: 0 20px 20px 0;
    outline: orange;
    background-color: orange;
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.cart{
    position: relative;
    font-size: 22px;
    margin-left: 20px;
    cursor: pointer;
}

.cart-count{
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}

.cart:hover{
    transform: scale(1.1);
}

.Hambg{
    color: orange;
    font-size: 24px;
    cursor: pointer;
}

.Hambg:hover {
  color: black;
}

@media(max-width: 768px){
    .container{
        position: relative;
        flex-wrap: wrap;
    }
    .nav-bar{
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background: white;
        border-top: 1px solid white;
    }
    .nav-bar.active{
        display: block;
    }
    .nav-bar ul{
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }
    .Hambg{
        display: block;
    }
    .sch-bar{
        
        width: 100%;
        margin-top: 10px;
    }
    .sch-bar input{
        width: 80%;
    }
}